# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django media and static
/backend/media/
/backend/static/

# Local configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build and cache files
.next/
out/
/frontend/node_modules/
/frontend/.next/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
